@use "../../styles/variables" as vars;



.hiddenLeft {
  opacity: 0 !important;
  transform: translateY(50px) !important;
  transition: none !important;
}


.hiddenRight {
  opacity: 0 !important;
  transform: translateY(50px) !important;
  transition: none !important;
}


.visibleItem {
  opacity: 1 !important;
  transform: translateY(0) !important;
  transition:
    opacity 0.8s cubic-bezier(0.22, 1, 0.36, 1),
    transform 0.8s cubic-bezier(0.22, 1, 0.36, 1) !important;
}

.containerMainContatos {
  position: relative;
  background-color: vars.$colorAzul;
  padding: 50px;
  font-family: vars.$fontPrimary;

  @media (min-width: 1600px) {
    padding: 50px 128px;
  }

  @media (max-width: 1400px) {
    padding: 30px 20px;
    padding-bottom: 50px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.18);
    pointer-events: none;
    z-index: 0;
  }

  >* {
    position: relative;
    z-index: 1;
  }

  h1 {
    color: #ffffff;
    font-size: 50px;
    font-weight: vars.$weightBold;
    text-shadow: 7px 4px 8.7px rgba(0, 0, 0, 0.25);
    margin: 0;
    margin-bottom: 70px;

    @media(max-width: 1024px) {
      font-size: 30px;
      text-align: center;

      margin-bottom: 50px;
    }

    &::after {
      content: "";
      width: 280px;
      display: flex;
      height: 8px;
      position: relative;
      box-shadow: -4px 8px 14.5px rgba(0, 0, 0, 0.5);
      border-radius: 50px;
      background-color: #ffffff;

      @media(max-width: 1024px) {
        width: 100%;
        text-align: center;
      }
    }
  }

  .containerContatos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;

    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 30px;
    }

    .formContatos {
      width: 50%;
      height: auto;
      padding-top: 20px !important;
      padding: 5px 35px;
      background-color: #004d61;
      display: flex;
      flex-direction: column;
      gap: 30px;
      box-shadow:
        10px -3px 23px #828282 inset,
        -22px 29px 13px rgba(0, 0, 0, 0.25);
      border-radius: 25px;
      align-items: center;

      @media (max-width: 1024px) {
        width: auto;
        padding-bottom: 20px;
        box-shadow:
          10px -3px 23px #828282 inset,
          -8px 20px 13px rgba(0, 0, 0, 0.25);
        gap: 25px;
      }

      >*:not(.form_header) {
        align-self: center;
      }

      .form_header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 20px;
        width: 100%;

        @media (max-width: 1024px) {
          margin: 0;
        }


        h2 {
          color: #ffffff;
          font-size: 35px;
          font-weight: vars.$weightBold;
          font-family: vars.$fontPrimary;
          margin: 0;

          @media (max-width: 1024px) {
            font-size: 25px;
          }
        }

        p {
          color: #ded2d2;
          font-size: 20px;
          font-weight: vars.$weightBold;
          font-family: vars.$fontPrimary;
          margin: 0;
          letter-spacing: 1px;

          @media (max-width: 1024px) {
            font-size: 16px;
          }

        }
      }

      .form_group {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        label {
          color: #ffffff;
          font-size: 20px;
          font-weight: vars.$weightBold;
          font-family: vars.$fontPrimary;
          margin: 0;
          letter-spacing: 2px;

          @media (max-width: 1024px) {
            font-size: 16px;
          }
        }

        input {
          background-color: rgba(217, 217, 217, 0.72);

          border-radius: 10px;
          padding: 15px;
          border: none;
        }

        textarea {
          background-color: rgba(217, 217, 217, 0.72);
          border-radius: 10px;
          padding: 15px;
          border: none;
          min-height: 150px;
          max-width: 96%;

          @media (max-width: 1024px) {
            min-height: 70px;
          }
        }
      }

      .fisrtInputs {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 20px;
        width: 100%;

        @media (max-width: 1024px) {
          flex-direction: column;
        }

        .form_group {
          width: 50%;

          @media (max-width: 1024px) {
            width: 100%;
          }
        }
      }

      button[type="submit"] {
        width: 70%;
        position: relative;
        box-shadow: 2px 9px 6.9px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        background: linear-gradient(254.15deg,
            rgba(232, 156, 60, 0.79),
            rgba(0, 77, 97, 0.79));
        display: flex;
        align-items: end;
        justify-content: center;
        padding: 8px 0;
        box-sizing: border-box;
        gap: 10px;
        text-align: left;
        border: none;
        color: #ffffff;
        font-size: 25px;
        font-weight: vars.$weightBold;
        font-family: vars.$fontPrimary;
        margin: 0;
        letter-spacing: 2px;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;

        @media(max-width: 1024px) {
          font-size: 16px;
          width: 100%;
        }

        @media(min-width: 1024px) {
          &:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease-in-out;
          }

        }

        &::before {
          content: "";
          display: block;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.000701785 9.55534C0.00354023 9.95148 0.133684 10.3362 0.37192 10.6527C0.610155 10.9693 0.943854 11.2008 1.32375 11.3131L1.34719 11.3202L10.4878 13.8796L13.0472 23.0202L13.0542 23.0436C13.1667 23.4234 13.3983 23.757 13.7148 23.9952C14.0313 24.2334 14.4159 24.3636 14.812 24.3667H14.8472C15.2356 24.3703 15.6153 24.2514 15.9323 24.027C16.2494 23.8025 16.4876 23.4839 16.6132 23.1163L24.2585 2.50416C24.261 2.49809 24.2629 2.49182 24.2644 2.48541C24.3786 2.15358 24.3975 1.79633 24.3187 1.45433C24.24 1.11232 24.0668 0.799275 23.819 0.550807C23.5711 0.302339 23.2585 0.128422 22.9167 0.0488408C22.5749 -0.0307404 22.2176 -0.0127907 21.8855 0.100647L21.8667 0.106507L1.25109 7.75416C0.877808 7.88176 0.55511 8.12538 0.330147 8.44944C0.105184 8.77349 -0.0102531 9.161 0.000701785 9.55534Z' fill='%23E89C3C'/%3E%3C/svg%3E%0A");
          width: 25px;
          height: 25px;
        }
      }
    }

    .cardsInfosContatos {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 50%;

      @media (max-width: 1024px) {
        width: 100%;
      }

      .logoCardDiferenciais {
        position: absolute;
        right: 10px;
        bottom: 5px;

        @media(max-width: 1024px) {
          right: 5px;
          bottom: 0;
          max-width: 54px;
        }
      }

      .infosContatos {
        position: relative;
        z-index: 1;
        border-radius: 25px;
        background-color: #004d61;
        box-shadow:
          10px -3px 23px #828282 inset,
          -22px 29px 13px rgba(0, 0, 0, 0.25);
        padding: 16px 35px;

        @media(max-width: 1024px) {
          box-shadow:
            10px -3px 23px #828282 inset,
            -8px 20px 13px rgba(0, 0, 0, 0.25);
        }


        .titEsub {
          display: flex;
          flex-direction: column;
          gap: 10px;

          h4 {
            position: relative;
            font-size: 35px;
            display: inline-block;
            font-family: vars.$fontPrimary;
            color: #fff;
            font-weight: vars.$weightBold;
            text-align: left;
            margin: 0;

            @media (max-width: 1024px) {
              font-size: 22px;
            }
          }

          p {
            position: relative;
            font-size: 20px;
            font-family: vars.$fontPrimary;
            color: #ded2d2;
            text-align: left;
            font-weight: vars.$weightBold;
            margin: 0;

            @media (max-width: 1024px) {
              font-size: 16px;
            }
          }
        }

        ul {
          list-style: none;
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: 22px;

          li {
            position: relative;
            font-size: 20px;
            letter-spacing: 0.1em;
            font-family: vars.$fontPrimary;
            color: #fff;
            text-align: left;
            font-weight: vars.$weightBold;
            display: flex;
            align-items: center;
            gap: 10px;

            @media (max-width: 1024px) {
              font-size: 13px;
            }

            a {
              position: relative;
              font-size: 20px;
              letter-spacing: 0.1em;
              font-family: vars.$fontPrimary;
              color: #fff;
              text-align: left;
              text-decoration: none;
              font-weight: vars.$weightBold;

              @media (max-width: 1024px) {
                font-size: 13px;
              }
            }
          }

          .phoneList::before {
            content: "";
            display: block;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40.7602 30.7759C40.4467 33.1578 39.277 35.3442 37.4694 36.9266C35.6618 38.5091 33.3399 39.3794 30.9375 39.3751C16.9805 39.3751 5.62502 28.0197 5.62502 14.0626C5.62071 11.6602 6.49107 9.33838 8.07353 7.53077C9.656 5.72316 11.8423 4.55341 14.2242 4.23998C14.8266 4.16643 15.4365 4.28966 15.963 4.59125C16.4896 4.89285 16.9044 5.35665 17.1457 5.91341L20.8582 14.2015V14.2226C21.0429 14.6488 21.1192 15.1141 21.0803 15.5769C21.0413 16.0398 20.8883 16.4858 20.635 16.8751C20.6033 16.9226 20.5699 16.9665 20.5348 17.0105L16.875 21.3488C18.1916 24.0242 20.9901 26.798 23.7006 28.1181L27.9791 24.4777C28.0211 24.4423 28.0651 24.4094 28.111 24.3792C28.4999 24.1198 28.9475 23.9614 29.4131 23.9184C29.8787 23.8755 30.3476 23.9493 30.7776 24.1331L30.8004 24.1437L39.0815 27.8544C39.6392 28.0948 40.1041 28.5094 40.4067 29.036C40.7093 29.5626 40.8333 30.173 40.7602 30.7759Z' fill='%236A8E3E'/%3E%3C/svg%3E%0A");
            width: 45px;
            height: 45px;

            @media (max-width: 1024px) {
              width: 35px;
              height: 35px;
              background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40.7602 30.7759C40.4467 33.1578 39.277 35.3442 37.4694 36.9266C35.6618 38.5091 33.3399 39.3794 30.9375 39.3751C16.9805 39.3751 5.62502 28.0197 5.62502 14.0626C5.62071 11.6602 6.49107 9.33838 8.07353 7.53077C9.656 5.72316 11.8423 4.55341 14.2242 4.23998C14.8266 4.16643 15.4365 4.28966 15.963 4.59125C16.4896 4.89285 16.9044 5.35665 17.1457 5.91341L20.8582 14.2015V14.2226C21.0429 14.6488 21.1192 15.1141 21.0803 15.5769C21.0413 16.0398 20.8883 16.4858 20.635 16.8751C20.6033 16.9226 20.5699 16.9665 20.5348 17.0105L16.875 21.3488C18.1916 24.0242 20.9901 26.798 23.7006 28.1181L27.9791 24.4777C28.0211 24.4423 28.0651 24.4094 28.111 24.3792C28.4999 24.1198 28.9475 23.9614 29.4131 23.9184C29.8787 23.8755 30.3476 23.9493 30.7776 24.1331L30.8004 24.1437L39.0815 27.8544C39.6392 28.0948 40.1041 28.5094 40.4067 29.036C40.7093 29.5626 40.8333 30.173 40.7602 30.7759Z' fill='%236A8E3E'/%3E%3C/svg%3E%0A");

            }
          }

          .emailList::before {
            content: "";
            display: block;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39.375 7.73438H5.625C5.06556 7.73438 4.52903 7.95661 4.13345 8.3522C3.73786 8.74778 3.51562 9.28431 3.51562 9.84375V33.75C3.51562 34.6824 3.88602 35.5766 4.54533 36.2359C5.20464 36.8952 6.09885 37.2656 7.03125 37.2656H37.9688C38.9012 37.2656 39.7954 36.8952 40.4547 36.2359C41.114 35.5766 41.4844 34.6824 41.4844 33.75V9.84375C41.4844 9.28431 41.2621 8.74778 40.8666 8.3522C40.471 7.95661 39.9344 7.73438 39.375 7.73438ZM33.9521 11.9531L22.5 22.4508L11.0479 11.9531H33.9521ZM7.73438 33.0469V14.6391L21.0744 26.8682C21.4635 27.2249 21.9721 27.4228 22.5 27.4228C23.0279 27.4228 23.5365 27.2249 23.9256 26.8682L37.2656 14.6391V33.0469H7.73438Z' fill='%236A8E3E'/%3E%3C/svg%3E%0A");
            width: 45px;
            height: 45px;


            @media (max-width: 1024px) {
              width: 35px;
              height: 35px;
              background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39.375 7.73438H5.625C5.06556 7.73438 4.52903 7.95661 4.13345 8.3522C3.73786 8.74778 3.51562 9.28431 3.51562 9.84375V33.75C3.51562 34.6824 3.88602 35.5766 4.54533 36.2359C5.20464 36.8952 6.09885 37.2656 7.03125 37.2656H37.9688C38.9012 37.2656 39.7954 36.8952 40.4547 36.2359C41.114 35.5766 41.4844 34.6824 41.4844 33.75V9.84375C41.4844 9.28431 41.2621 8.74778 40.8666 8.3522C40.471 7.95661 39.9344 7.73438 39.375 7.73438ZM33.9521 11.9531L22.5 22.4508L11.0479 11.9531H33.9521ZM7.73438 33.0469V14.6391L21.0744 26.8682C21.4635 27.2249 21.9721 27.4228 22.5 27.4228C23.0279 27.4228 23.5365 27.2249 23.9256 26.8682L37.2656 14.6391V33.0469H7.73438Z' fill='%236A8E3E'/%3E%3C/svg%3E%0A");

            }
          }

          .horarioList::before {
            content: "";
            display: block;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.5 4.21875C18.8843 4.21875 15.3498 5.29093 12.3435 7.2997C9.33715 9.30847 6.994 12.1636 5.61034 15.5041C4.22667 18.8445 3.86464 22.5203 4.57003 26.0665C5.27541 29.6127 7.01653 32.8701 9.57321 35.4268C12.1299 37.9835 15.3873 39.7246 18.9335 40.43C22.4797 41.1354 26.1555 40.7733 29.4959 39.3897C32.8364 38.006 35.6915 35.6629 37.7003 32.6565C39.7091 29.6502 40.7813 26.1157 40.7813 22.5C40.7761 17.6531 38.8484 13.0061 35.4212 9.57886C31.9939 6.15157 27.3469 4.22387 22.5 4.21875ZM32.3438 23.9062H22.5C22.127 23.9062 21.7694 23.7581 21.5056 23.4944C21.2419 23.2306 21.0938 22.873 21.0938 22.5V12.6562C21.0938 12.2833 21.2419 11.9256 21.5056 11.6619C21.7694 11.3982 22.127 11.25 22.5 11.25C22.873 11.25 23.2307 11.3982 23.4944 11.6619C23.7581 11.9256 23.9063 12.2833 23.9063 12.6562V21.0938H32.3438C32.7167 21.0938 33.0744 21.2419 33.3381 21.5056C33.6019 21.7694 33.75 22.127 33.75 22.5C33.75 22.873 33.6019 23.2306 33.3381 23.4944C33.0744 23.7581 32.7167 23.9062 32.3438 23.9062Z' fill='%236A8E3E'/%3E%3C/svg%3E%0A");
            width: 45px;
            height: 45px;

            @media (max-width: 1024px) {
              width: 35px;
              height: 35px;
              background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.5 4.21875C18.8843 4.21875 15.3498 5.29093 12.3435 7.2997C9.33715 9.30847 6.994 12.1636 5.61034 15.5041C4.22667 18.8445 3.86464 22.5203 4.57003 26.0665C5.27541 29.6127 7.01653 32.8701 9.57321 35.4268C12.1299 37.9835 15.3873 39.7246 18.9335 40.43C22.4797 41.1354 26.1555 40.7733 29.4959 39.3897C32.8364 38.006 35.6915 35.6629 37.7003 32.6565C39.7091 29.6502 40.7813 26.1157 40.7813 22.5C40.7761 17.6531 38.8484 13.0061 35.4212 9.57886C31.9939 6.15157 27.3469 4.22387 22.5 4.21875ZM32.3438 23.9062H22.5C22.127 23.9062 21.7694 23.7581 21.5056 23.4944C21.2419 23.2306 21.0938 22.873 21.0938 22.5V12.6562C21.0938 12.2833 21.2419 11.9256 21.5056 11.6619C21.7694 11.3982 22.127 11.25 22.5 11.25C22.873 11.25 23.2307 11.3982 23.4944 11.6619C23.7581 11.9256 23.9063 12.2833 23.9063 12.6562V21.0938H32.3438C32.7167 21.0938 33.0744 21.2419 33.3381 21.5056C33.6019 21.7694 33.75 22.127 33.75 22.5C33.75 22.873 33.6019 23.2306 33.3381 23.4944C33.0744 23.7581 32.7167 23.9062 32.3438 23.9062Z' fill='%236A8E3E'/%3E%3C/svg%3E%0A");

            }
          }
        }
      }

      .cardsDifenciais {
        box-shadow: -22px 29px 13px rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        border-radius: 25px;
        border: 5px solid #027b8f;
        background-color: rgb(255, 255, 255);
        padding: 16px 10px 100px 35px;
        position: relative;
        overflow: hidden;
        z-index: -1;

        @media (max-width: 1024px) {
          padding: 16px 20px;
          box-shadow: -8px 20px 13px rgba(0, 0, 0, 0.25);

        }

        .bgOverlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-blend-mode: multiply;
          background-size: cover;
          background-image: url(/public/imgs/fundoRede.svg);
          opacity: 0.10;
          z-index: -2;
          pointer-events: none;
          background-position: center;
        }

        &::before {
          content: "";
          position: absolute;
          top: -2px;
          right: -5px;
          width: 100%;
          height: 100%;
          background-position: top right;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg width='257' height='212' viewBox='0 0 257 212' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_251_431' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='-10' y='-8' width='271' height='228'%3E%3Cpath d='M-10 -7.98047H260.867V219.354H-10V-7.98047Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_251_431)'%3E%3Cpath d='M-10.0338 -7.56402C-9.42816 -7.96996 -8.89529 -7.89847 -8.37801 -7.89847C80.4477 -7.90102 169.273 -7.90102 258.099 -7.89847C260.524 -7.89847 260.524 -7.89081 260.524 -5.51647C260.524 68.8898 260.524 143.296 260.516 217.702C260.516 218.2 260.774 218.918 260.345 219.142C259.859 219.4 259.318 218.854 258.876 218.542C256.163 216.627 253.197 215.103 250.392 213.329C247.663 211.606 244.845 209.987 242.201 208.141C240.353 206.852 238.497 205.56 236.8 204.033C234.65 202.095 232.222 200.464 229.932 198.672C226.844 196.257 224.255 193.351 221.679 190.443C220.312 188.899 218.895 187.372 217.762 185.669C216.052 183.108 214.3 180.571 212.727 177.918C210.866 174.783 209.205 171.533 207.765 168.219C206.338 164.933 204.893 161.65 203.624 158.285C201.841 153.554 199.561 149.01 197.716 144.302C196.637 141.547 195.47 138.81 194.542 136.007C193.564 133.066 192.059 130.349 191.082 127.434C190.152 124.646 188.683 122.09 187.69 119.351C186.315 115.557 184.568 111.919 182.949 108.243C181.329 104.564 179.559 100.931 177.654 97.364C176.364 94.9488 174.924 92.6332 173.505 90.3125C171.94 87.7569 170.165 85.3212 168.262 82.9724C165.387 79.4237 162.356 76.0128 159.099 72.8113C156.679 70.4369 154.101 68.2158 151.478 66.0508C147.94 63.1326 144.067 60.6689 140.085 58.4274C136.144 56.2088 131.998 54.3501 127.686 52.8617C123.561 51.4396 119.394 50.1274 115.238 48.81C112.708 48.0109 110.101 47.3139 107.489 46.7139C106.48 46.4816 105.516 46.0604 104.507 45.8178C99.7298 44.6766 94.8716 43.9005 90.1329 42.5857C88.5629 42.1491 86.9045 42.0112 85.3241 41.6078C82.8469 40.9772 80.3593 40.3415 77.9445 39.5169C75.1346 38.5595 72.2077 38.0463 69.4134 37.0557C64.5161 35.3197 59.4656 34.0533 54.5658 32.2917C51.5245 31.199 48.569 29.874 45.4939 28.9013C41.6521 27.6886 38.0545 25.9346 34.4076 24.3134C30.9427 22.7714 27.5349 21.0864 24.1817 19.289C19.4353 16.7462 15.1021 13.634 10.7689 10.5116C8.74144 9.04616 6.87509 7.3688 4.84239 5.91101C-0.613694 1.99207 -5.20938 -2.81789 -10.0338 -7.56402Z' fill='%23E89C3C'/%3E%3C/g%3E%3C/svg%3E%0A");

          @media(max-width: 1024px) {
            background-size: 200px;
          }

        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background-position: bottom left;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg width='202' height='148' viewBox='0 0 202 148' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_251_416)'%3E%3Cmask id='mask0_251_416' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='-32' y='57' width='218' height='198'%3E%3Cpath d='M-31.4434 57.8594H185.453V254.381H-31.4434V57.8594Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_251_416)'%3E%3Cmask id='mask1_251_416' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='-58' y='-5' width='290' height='304'%3E%3Cpath d='M121.941 -4.64844L231.108 179.255L51.3064 298.647L-57.8619 114.742L121.941 -4.64844Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask1_251_416)'%3E%3Cmask id='mask2_251_416' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='-58' y='-5' width='290' height='304'%3E%3Cpath d='M121.941 -4.64844L231.108 179.255L51.3064 298.647L-57.8619 114.742L121.941 -4.64844Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask2_251_416)'%3E%3Cpath d='M148.582 234.148C162.886 218.77 171.484 197.978 177.67 176.839C183.113 158.182 186.323 138.416 184.475 118.701C183.602 109.148 181.958 98.8415 177.913 90.3846C173.889 81.9646 168.033 74.7704 161.153 69.3701C154.212 63.8562 146.044 60.1789 137.709 59.0397C128.269 57.7032 118.97 59.8891 109.686 61.8535C88.6107 66.3433 67.0454 65.413 45.8878 69.7536C27.1746 73.5773 8.32023 82.4944 -3.22911 100.86C-14.2247 118.404 -14.0234 140.522 -7.36291 160.156C0.309231 182.573 15.0875 200.773 31.9002 214.608C40.3114 221.573 49.3107 227.535 58.5126 233.034C67.6212 238.443 76.8489 243.819 86.3664 248.144C94.9875 252.069 103.965 254.476 113.25 253.351C122.074 252.298 130.629 248.657 138.19 243.27C141.955 240.588 145.389 237.465 148.582 234.148Z' fill='%23004D61'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_251_416'%3E%3Cpath d='M0 0H202V147.641H20C8.9543 147.641 0 138.686 0 127.641V0Z' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
          z-index: -1;

          @media(max-width: 1024px) {
            display: none;
          }
        }

        h5 {
          position: relative;
          font-size: 35px;
          display: inline-block;
          font-weight: vars.$weightBold;
          font-family: vars.$fontPrimary;
          color: #41555c;
          text-align: left;
          margin: 0;
          margin-bottom: 25px;

          @media (max-width: 1024px) {
            font-size: 22px;
            margin-bottom: 15px;
          }
        }

        ul {
          list-style: none;
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin: 0;

          li {
            position: relative;
            font-size: 25px;
            font-weight: vars.$weightBold;
            font-family: vars.$fontPrimary;
            color: #41555c;
            text-align: left;
            display: flex;
            gap: 10px;
            align-items: center;

            @media (max-width: 1024px) {
              font-size: 16px;
              gap: 5px;
            }
          }

          .list1::before {
            content: "";
            display: block;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.1344 13.4906L27.7594 4.11563C27.6433 3.99941 27.5054 3.90721 27.3537 3.84431C27.2019 3.7814 27.0393 3.74902 26.875 3.74902C26.7107 3.74902 26.5481 3.7814 26.3963 3.84431C26.2446 3.90721 26.1067 3.99941 25.9906 4.11563L5.79845 24.3078C4.48646 25.6198 3.74939 27.3993 3.74939 29.2547C3.74939 31.1101 4.48646 32.8896 5.79845 34.2016C7.11045 35.5136 8.88989 36.2506 10.7453 36.2506C12.6008 36.2506 14.3802 35.5136 15.6922 34.2016L33.175 16.7188L36.6453 15.5625C36.8476 15.4952 37.0293 15.3773 37.1732 15.22C37.3171 15.0627 37.4183 14.8712 37.4673 14.6638C37.5163 14.4563 37.5115 14.2397 37.4532 14.0347C37.3949 13.8296 37.2852 13.6429 37.1344 13.4922V13.4906ZM32.1047 14.4391C31.9205 14.5003 31.753 14.6035 31.6156 14.7406L25.4328 20.9234C24.1094 21.3766 22.0344 21.5484 19.3281 20.1422C17.6719 19.2766 16.175 18.8922 14.8656 18.7781L26.875 6.76719L33.936 13.8281L32.1047 14.4391Z' fill='%236A8E3E'/%3E%3C/svg%3E%0A");
            width: 40px;
            height: 40px;

            @media(max-width: 1024px) {
              background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.1344 13.4906L27.7594 4.11563C27.6433 3.99941 27.5054 3.90721 27.3537 3.84431C27.2019 3.7814 27.0393 3.74902 26.875 3.74902C26.7107 3.74902 26.5481 3.7814 26.3963 3.84431C26.2446 3.90721 26.1067 3.99941 25.9906 4.11563L5.79845 24.3078C4.48646 25.6198 3.74939 27.3993 3.74939 29.2547C3.74939 31.1101 4.48646 32.8896 5.79845 34.2016C7.11045 35.5136 8.88989 36.2506 10.7453 36.2506C12.6008 36.2506 14.3802 35.5136 15.6922 34.2016L33.175 16.7188L36.6453 15.5625C36.8476 15.4952 37.0293 15.3773 37.1732 15.22C37.3171 15.0627 37.4183 14.8712 37.4673 14.6638C37.5163 14.4563 37.5115 14.2397 37.4532 14.0347C37.3949 13.8296 37.2852 13.6429 37.1344 13.4922V13.4906ZM32.1047 14.4391C31.9205 14.5003 31.753 14.6035 31.6156 14.7406L25.4328 20.9234C24.1094 21.3766 22.0344 21.5484 19.3281 20.1422C17.6719 19.2766 16.175 18.8922 14.8656 18.7781L26.875 6.76719L33.936 13.8281L32.1047 14.4391Z' fill='%236A8E3E'/%3E%3C/svg%3E%0A");
              width: 39px;
              height: 39px;
            }
          }

          .list2::before {
            content: "";
            display: block;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39.9406 8.07037C39.9135 7.61219 39.7193 7.17988 39.3947 6.85533C39.0702 6.53079 38.6379 6.33655 38.1797 6.30943C29.8562 5.82037 23.1484 8.39693 20.2359 13.2063C18.339 16.3313 18.2734 20.1079 20.0078 23.7219C19.1636 24.7988 18.5142 26.0151 18.089 27.3157L16.1109 25.3376C17.2344 22.7172 17.1156 20.0079 15.7359 17.7297C13.5515 14.1188 8.57655 12.1876 2.42967 12.5422C1.97124 12.5694 1.53872 12.7639 1.21414 13.0887C0.889556 13.4136 0.695486 13.8463 0.668735 14.3047C0.312485 20.4516 2.24374 25.4266 5.85155 27.611C7.07516 28.3568 8.48108 28.7499 9.91405 28.7469C11.1358 28.7371 12.3427 28.4782 13.4609 27.986L17.5 32.0313V35.6251C17.5 36.1223 17.6975 36.5993 18.0492 36.9509C18.4008 37.3025 18.8777 37.5001 19.375 37.5001C19.8723 37.5001 20.3492 37.3025 20.7008 36.9509C21.0524 36.5993 21.25 36.1223 21.25 35.6251V31.0172C21.2461 29.3412 21.7644 27.7055 22.7328 26.3376C24.3015 27.0807 26.0127 27.4746 27.7484 27.4922C29.616 27.4965 31.4484 26.985 33.0437 26.0141C37.8515 23.1016 40.4312 16.3938 39.9406 8.07037ZM7.79374 24.4032C5.7328 23.1532 4.48436 20.1126 4.3828 16.2579C8.23748 16.3594 11.2797 17.6079 12.5281 19.6688C13.0163 20.4629 13.2166 21.4008 13.0953 22.3251L11.325 20.5485C10.9727 20.1963 10.495 19.9984 9.99686 19.9984C9.49872 19.9984 9.02098 20.1963 8.66874 20.5485C8.31649 20.9007 8.11861 21.3785 8.11861 21.8766C8.11861 22.3748 8.31649 22.8525 8.66874 23.2047L10.4406 24.9766C9.51885 25.0904 8.58574 24.8883 7.79374 24.4032ZM31.1015 22.8126C29.4359 23.8204 27.5078 24.011 25.5062 23.4001L31.3265 17.5813C31.6788 17.2291 31.8767 16.7513 31.8767 16.2532C31.8767 15.755 31.6788 15.2773 31.3265 14.9251C30.9743 14.5728 30.4966 14.3749 29.9984 14.3749C29.5003 14.3749 29.0225 14.5728 28.6703 14.9251L22.85 20.7438C22.2453 18.7501 22.4359 16.8141 23.4375 15.1563C25.4219 11.8751 30.1015 10.0001 36.1437 10.0001H36.25C36.2719 16.0938 34.3969 20.8094 31.1015 22.8126Z' fill='%236A8E3E'/%3E%3C/svg%3E%0A");
            width: 40px;
            height: 40px;

            @media(max-width: 1024px) {
              background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39.9406 8.07037C39.9135 7.61219 39.7193 7.17988 39.3947 6.85533C39.0702 6.53079 38.6379 6.33655 38.1797 6.30943C29.8562 5.82037 23.1484 8.39693 20.2359 13.2063C18.339 16.3313 18.2734 20.1079 20.0078 23.7219C19.1636 24.7988 18.5142 26.0151 18.089 27.3157L16.1109 25.3376C17.2344 22.7172 17.1156 20.0079 15.7359 17.7297C13.5515 14.1188 8.57655 12.1876 2.42967 12.5422C1.97124 12.5694 1.53872 12.7639 1.21414 13.0887C0.889556 13.4136 0.695486 13.8463 0.668735 14.3047C0.312485 20.4516 2.24374 25.4266 5.85155 27.611C7.07516 28.3568 8.48108 28.7499 9.91405 28.7469C11.1358 28.7371 12.3427 28.4782 13.4609 27.986L17.5 32.0313V35.6251C17.5 36.1223 17.6975 36.5993 18.0492 36.9509C18.4008 37.3025 18.8777 37.5001 19.375 37.5001C19.8723 37.5001 20.3492 37.3025 20.7008 36.9509C21.0524 36.5993 21.25 36.1223 21.25 35.6251V31.0172C21.2461 29.3412 21.7644 27.7055 22.7328 26.3376C24.3015 27.0807 26.0127 27.4746 27.7484 27.4922C29.616 27.4965 31.4484 26.985 33.0437 26.0141C37.8515 23.1016 40.4312 16.3938 39.9406 8.07037ZM7.79374 24.4032C5.7328 23.1532 4.48436 20.1126 4.3828 16.2579C8.23748 16.3594 11.2797 17.6079 12.5281 19.6688C13.0163 20.4629 13.2166 21.4008 13.0953 22.3251L11.325 20.5485C10.9727 20.1963 10.495 19.9984 9.99686 19.9984C9.49872 19.9984 9.02098 20.1963 8.66874 20.5485C8.31649 20.9007 8.11861 21.3785 8.11861 21.8766C8.11861 22.3748 8.31649 22.8525 8.66874 23.2047L10.4406 24.9766C9.51885 25.0904 8.58574 24.8883 7.79374 24.4032ZM31.1015 22.8126C29.4359 23.8204 27.5078 24.011 25.5062 23.4001L31.3265 17.5813C31.6788 17.2291 31.8767 16.7513 31.8767 16.2532C31.8767 15.755 31.6788 15.2773 31.3265 14.9251C30.9743 14.5728 30.4966 14.3749 29.9984 14.3749C29.5003 14.3749 29.0225 14.5728 28.6703 14.9251L22.85 20.7438C22.2453 18.7501 22.4359 16.8141 23.4375 15.1563C25.4219 11.8751 30.1015 10.0001 36.1437 10.0001H36.25C36.2719 16.0938 34.3969 20.8094 31.1015 22.8126Z' fill='%236A8E3E'/%3E%3C/svg%3E%0A");
              width: 39px;
              height: 39px;
            }
          }

          .list3::before {
            content: "";
            display: block;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.8218 14.125C37.166 17.7354 37.2343 21.697 36.0155 25.3516C34.7967 29.0063 32.364 32.1338 29.1218 34.2146C25.8796 36.2954 22.023 37.2042 18.1928 36.79C14.3626 36.3757 10.7895 34.6634 8.06714 31.9375C5.00909 28.8895 3.23566 24.7853 3.11181 20.4695C2.98796 16.1536 4.5231 11.9545 7.40132 8.73613C10.2795 5.51779 14.2819 3.52512 18.5847 3.16816C22.8876 2.8112 27.1636 4.11712 30.5328 6.81717L33.6734 3.67498C33.8478 3.50057 34.0549 3.36222 34.2827 3.26783C34.5106 3.17344 34.7549 3.12485 35.0015 3.12485C35.2482 3.12485 35.4924 3.17344 35.7203 3.26783C35.9482 3.36222 36.1552 3.50057 36.3296 3.67498C36.504 3.84939 36.6424 4.05645 36.7368 4.28433C36.8312 4.51221 36.8798 4.75645 36.8798 5.00311C36.8798 5.24976 36.8312 5.494 36.7368 5.72188C36.6424 5.94976 36.504 6.15682 36.3296 6.33123L21.3296 21.3312C21.1552 21.5056 20.9482 21.644 20.7203 21.7384C20.4924 21.8328 20.2482 21.8814 20.0015 21.8814C19.7549 21.8814 19.5106 21.8328 19.2827 21.7384C19.0549 21.644 18.8478 21.5056 18.6734 21.3312C18.499 21.1568 18.3606 20.9498 18.2662 20.7219C18.1718 20.494 18.1233 20.2498 18.1233 20.0031C18.1233 19.7565 18.1718 19.5122 18.2662 19.2843C18.3606 19.0565 18.499 18.8494 18.6734 18.675L22.4234 14.925C21.3665 14.42 20.1783 14.2576 19.0246 14.4604C17.871 14.6632 16.8094 15.2211 15.9881 16.0562C15.1667 16.8913 14.6266 17.962 14.443 19.1189C14.2594 20.2757 14.4416 21.4611 14.964 22.5094C15.4865 23.5578 16.3232 24.4169 17.3574 24.9669C18.3916 25.5169 19.5717 25.7302 20.733 25.5773C21.8943 25.4243 22.9789 24.9127 23.8354 24.1137C24.692 23.3147 25.2777 22.2682 25.5109 21.1203C25.6091 20.6328 25.897 20.2042 26.3112 19.9289C26.7254 19.6536 27.2319 19.5541 27.7195 19.6523C28.207 19.7505 28.6356 20.0384 28.9109 20.4526C29.1862 20.8668 29.2857 21.3734 29.1875 21.8609C28.7881 23.8284 27.7676 25.6156 26.2764 26.9597C24.7851 28.3038 22.9018 29.1336 20.9036 29.3271C18.9053 29.5207 16.8977 29.0676 15.1763 28.0347C13.4548 27.0018 12.1104 25.4435 11.3409 23.5893C10.5714 21.735 10.4174 19.6827 10.9017 17.7344C11.3859 15.7861 12.4828 14.0447 14.0309 12.7665C15.579 11.4883 17.4965 10.7409 19.5012 10.6341C21.506 10.5273 23.492 11.0669 25.1671 12.1734L27.8593 9.49061C25.3304 7.60194 22.2056 6.68785 19.0575 6.91587C15.9094 7.14388 12.9489 8.49872 10.7186 10.7321C8.48824 12.9655 7.13742 15.9278 6.91368 19.0762C6.68994 22.2246 7.60826 25.3482 9.50036 27.8745C11.3925 30.4008 14.1316 32.1607 17.2158 32.8316C20.3 33.5026 23.5227 33.0396 26.2933 31.5275C29.0638 30.0154 31.1967 27.5556 32.3011 24.5988C33.4054 21.6419 33.4072 18.3862 32.3062 15.4281C32.2186 15.1968 32.1775 14.9505 32.1855 14.7033C32.1934 14.4561 32.2502 14.213 32.3525 13.9878C32.4549 13.7627 32.6007 13.56 32.7817 13.3914C32.9627 13.2229 33.1753 13.0918 33.4071 13.0058C33.639 12.9197 33.8856 12.8804 34.1327 12.89C34.3799 12.8997 34.6226 12.9582 34.8471 13.062C35.0715 13.1659 35.2732 13.3132 35.4405 13.4954C35.6078 13.6775 35.7374 13.891 35.8218 14.1234V14.125Z' fill='%236A8E3E'/%3E%3C/svg%3E%0A");
            width: 40px;
            height: 40px;

            @media(max-width: 1024px) {
              background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.8218 14.125C37.166 17.7354 37.2343 21.697 36.0155 25.3516C34.7967 29.0063 32.364 32.1338 29.1218 34.2146C25.8796 36.2954 22.023 37.2042 18.1928 36.79C14.3626 36.3757 10.7895 34.6634 8.06714 31.9375C5.00909 28.8895 3.23566 24.7853 3.11181 20.4695C2.98796 16.1536 4.5231 11.9545 7.40132 8.73613C10.2795 5.51779 14.2819 3.52512 18.5847 3.16816C22.8876 2.8112 27.1636 4.11712 30.5328 6.81717L33.6734 3.67498C33.8478 3.50057 34.0549 3.36222 34.2827 3.26783C34.5106 3.17344 34.7549 3.12485 35.0015 3.12485C35.2482 3.12485 35.4924 3.17344 35.7203 3.26783C35.9482 3.36222 36.1552 3.50057 36.3296 3.67498C36.504 3.84939 36.6424 4.05645 36.7368 4.28433C36.8312 4.51221 36.8798 4.75645 36.8798 5.00311C36.8798 5.24976 36.8312 5.494 36.7368 5.72188C36.6424 5.94976 36.504 6.15682 36.3296 6.33123L21.3296 21.3312C21.1552 21.5056 20.9482 21.644 20.7203 21.7384C20.4924 21.8328 20.2482 21.8814 20.0015 21.8814C19.7549 21.8814 19.5106 21.8328 19.2827 21.7384C19.0549 21.644 18.8478 21.5056 18.6734 21.3312C18.499 21.1568 18.3606 20.9498 18.2662 20.7219C18.1718 20.494 18.1233 20.2498 18.1233 20.0031C18.1233 19.7565 18.1718 19.5122 18.2662 19.2843C18.3606 19.0565 18.499 18.8494 18.6734 18.675L22.4234 14.925C21.3665 14.42 20.1783 14.2576 19.0246 14.4604C17.871 14.6632 16.8094 15.2211 15.9881 16.0562C15.1667 16.8913 14.6266 17.962 14.443 19.1189C14.2594 20.2757 14.4416 21.4611 14.964 22.5094C15.4865 23.5578 16.3232 24.4169 17.3574 24.9669C18.3916 25.5169 19.5717 25.7302 20.733 25.5773C21.8943 25.4243 22.9789 24.9127 23.8354 24.1137C24.692 23.3147 25.2777 22.2682 25.5109 21.1203C25.6091 20.6328 25.897 20.2042 26.3112 19.9289C26.7254 19.6536 27.2319 19.5541 27.7195 19.6523C28.207 19.7505 28.6356 20.0384 28.9109 20.4526C29.1862 20.8668 29.2857 21.3734 29.1875 21.8609C28.7881 23.8284 27.7676 25.6156 26.2764 26.9597C24.7851 28.3038 22.9018 29.1336 20.9036 29.3271C18.9053 29.5207 16.8977 29.0676 15.1763 28.0347C13.4548 27.0018 12.1104 25.4435 11.3409 23.5893C10.5714 21.735 10.4174 19.6827 10.9017 17.7344C11.3859 15.7861 12.4828 14.0447 14.0309 12.7665C15.579 11.4883 17.4965 10.7409 19.5012 10.6341C21.506 10.5273 23.492 11.0669 25.1671 12.1734L27.8593 9.49061C25.3304 7.60194 22.2056 6.68785 19.0575 6.91587C15.9094 7.14388 12.9489 8.49872 10.7186 10.7321C8.48824 12.9655 7.13742 15.9278 6.91368 19.0762C6.68994 22.2246 7.60826 25.3482 9.50036 27.8745C11.3925 30.4008 14.1316 32.1607 17.2158 32.8316C20.3 33.5026 23.5227 33.0396 26.2933 31.5275C29.0638 30.0154 31.1967 27.5556 32.3011 24.5988C33.4054 21.6419 33.4072 18.3862 32.3062 15.4281C32.2186 15.1968 32.1775 14.9505 32.1855 14.7033C32.1934 14.4561 32.2502 14.213 32.3525 13.9878C32.4549 13.7627 32.6007 13.56 32.7817 13.3914C32.9627 13.2229 33.1753 13.0918 33.4071 13.0058C33.639 12.9197 33.8856 12.8804 34.1327 12.89C34.3799 12.8997 34.6226 12.9582 34.8471 13.062C35.0715 13.1659 35.2732 13.3132 35.4405 13.4954C35.6078 13.6775 35.7374 13.891 35.8218 14.1234V14.125Z' fill='%236A8E3E'/%3E%3C/svg%3E%0A");
              width: 39px;
              height: 39px;
            }
          }

          .list4::before {
            content: "";
            display: block;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.375 16.25C34.375 16.7473 34.1775 17.2242 33.8258 17.5758C33.4742 17.9275 32.9973 18.125 32.5 18.125C32.0027 18.125 31.5258 17.9275 31.1742 17.5758C30.8225 17.2242 30.625 16.7473 30.625 16.25C30.625 13.4321 29.5056 10.7296 27.513 8.73699C25.5204 6.74442 22.8179 5.625 20 5.625C17.1821 5.625 14.4796 6.74442 12.487 8.73699C10.4944 10.7296 9.375 13.4321 9.375 16.25C9.375 20.1562 10.5594 21.2969 11.9297 22.6187C13.3 23.9406 15 25.5797 15 29.375C15 30.7011 15.5268 31.9729 16.4645 32.9105C17.4021 33.8482 18.6739 34.375 20 34.375C21.4062 34.375 22.5297 33.7969 23.5547 32.5563C23.875 32.1851 24.3279 31.9542 24.8164 31.913C25.3049 31.8718 25.7901 32.0236 26.1681 32.3357C26.5461 32.6479 26.7868 33.0957 26.8386 33.5832C26.8904 34.0707 26.7492 34.5591 26.4453 34.9437C24.7016 37.0547 22.5328 38.125 20 38.125C17.6801 38.1225 15.456 37.1999 13.8156 35.5594C12.1752 33.919 11.2525 31.6949 11.25 29.375C11.25 27.1734 10.5266 26.475 9.32656 25.3125C7.67656 23.7281 5.625 21.7484 5.625 16.25C5.625 12.4375 7.1395 8.78118 9.83534 6.08534C12.5312 3.3895 16.1875 1.875 20 1.875C23.8125 1.875 27.4688 3.3895 30.1647 6.08534C32.8605 8.78118 34.375 12.4375 34.375 16.25ZM28.1047 24.6266C27.8915 24.5032 27.6561 24.423 27.4119 24.3906C27.1678 24.3583 26.9196 24.3743 26.6816 24.4378C26.4437 24.5014 26.2206 24.6112 26.0251 24.761C25.8295 24.9108 25.6655 25.0977 25.5422 25.3109C25.4736 25.4305 25.3674 25.5241 25.2401 25.5771C25.1128 25.6301 24.9715 25.6394 24.8384 25.6038C24.7052 25.5681 24.5875 25.4894 24.5037 25.3799C24.4199 25.2704 24.3746 25.1363 24.375 24.9984C24.375 23.8094 24.9453 22.9891 25.875 21.7484C26.875 20.4141 28.125 18.75 28.125 16.25C28.125 14.0951 27.269 12.0285 25.7452 10.5048C24.2215 8.98102 22.1549 8.125 20 8.125C17.8451 8.125 15.7785 8.98102 14.2548 10.5048C12.731 12.0285 11.875 14.0951 11.875 16.25C11.875 16.7473 12.0725 17.2242 12.4242 17.5758C12.7758 17.9275 13.2527 18.125 13.75 18.125C14.2473 18.125 14.7242 17.9275 15.0758 17.5758C15.4275 17.2242 15.625 16.7473 15.625 16.25C15.625 15.0897 16.0859 13.9769 16.9064 13.1564C17.7269 12.3359 18.8397 11.875 20 11.875C21.1603 11.875 22.2731 12.3359 23.0936 13.1564C23.9141 13.9769 24.375 15.0897 24.375 16.25C24.375 17.4391 23.8047 18.2594 22.875 19.5C21.875 20.8359 20.625 22.5 20.625 25C20.6249 25.9632 20.9427 26.8994 21.529 27.6636C22.1153 28.4277 22.9374 28.977 23.8677 29.2263C24.798 29.4756 25.7846 29.4109 26.6744 29.0422C27.5643 28.6736 28.3076 28.0217 28.7891 27.1875C29.0377 26.7571 29.1054 26.2456 28.977 25.7654C28.8487 25.2851 28.5349 24.8755 28.1047 24.6266Z' fill='%236A8E3E'/%3E%3C/svg%3E%0A");
            width: 40px;
            height: 40px;

            @media(max-width: 1024px) {
              background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.375 16.25C34.375 16.7473 34.1775 17.2242 33.8258 17.5758C33.4742 17.9275 32.9973 18.125 32.5 18.125C32.0027 18.125 31.5258 17.9275 31.1742 17.5758C30.8225 17.2242 30.625 16.7473 30.625 16.25C30.625 13.4321 29.5056 10.7296 27.513 8.73699C25.5204 6.74442 22.8179 5.625 20 5.625C17.1821 5.625 14.4796 6.74442 12.487 8.73699C10.4944 10.7296 9.375 13.4321 9.375 16.25C9.375 20.1562 10.5594 21.2969 11.9297 22.6187C13.3 23.9406 15 25.5797 15 29.375C15 30.7011 15.5268 31.9729 16.4645 32.9105C17.4021 33.8482 18.6739 34.375 20 34.375C21.4062 34.375 22.5297 33.7969 23.5547 32.5563C23.875 32.1851 24.3279 31.9542 24.8164 31.913C25.3049 31.8718 25.7901 32.0236 26.1681 32.3357C26.5461 32.6479 26.7868 33.0957 26.8386 33.5832C26.8904 34.0707 26.7492 34.5591 26.4453 34.9437C24.7016 37.0547 22.5328 38.125 20 38.125C17.6801 38.1225 15.456 37.1999 13.8156 35.5594C12.1752 33.919 11.2525 31.6949 11.25 29.375C11.25 27.1734 10.5266 26.475 9.32656 25.3125C7.67656 23.7281 5.625 21.7484 5.625 16.25C5.625 12.4375 7.1395 8.78118 9.83534 6.08534C12.5312 3.3895 16.1875 1.875 20 1.875C23.8125 1.875 27.4688 3.3895 30.1647 6.08534C32.8605 8.78118 34.375 12.4375 34.375 16.25ZM28.1047 24.6266C27.8915 24.5032 27.6561 24.423 27.4119 24.3906C27.1678 24.3583 26.9196 24.3743 26.6816 24.4378C26.4437 24.5014 26.2206 24.6112 26.0251 24.761C25.8295 24.9108 25.6655 25.0977 25.5422 25.3109C25.4736 25.4305 25.3674 25.5241 25.2401 25.5771C25.1128 25.6301 24.9715 25.6394 24.8384 25.6038C24.7052 25.5681 24.5875 25.4894 24.5037 25.3799C24.4199 25.2704 24.3746 25.1363 24.375 24.9984C24.375 23.8094 24.9453 22.9891 25.875 21.7484C26.875 20.4141 28.125 18.75 28.125 16.25C28.125 14.0951 27.269 12.0285 25.7452 10.5048C24.2215 8.98102 22.1549 8.125 20 8.125C17.8451 8.125 15.7785 8.98102 14.2548 10.5048C12.731 12.0285 11.875 14.0951 11.875 16.25C11.875 16.7473 12.0725 17.2242 12.4242 17.5758C12.7758 17.9275 13.2527 18.125 13.75 18.125C14.2473 18.125 14.7242 17.9275 15.0758 17.5758C15.4275 17.2242 15.625 16.7473 15.625 16.25C15.625 15.0897 16.0859 13.9769 16.9064 13.1564C17.7269 12.3359 18.8397 11.875 20 11.875C21.1603 11.875 22.2731 12.3359 23.0936 13.1564C23.9141 13.9769 24.375 15.0897 24.375 16.25C24.375 17.4391 23.8047 18.2594 22.875 19.5C21.875 20.8359 20.625 22.5 20.625 25C20.6249 25.9632 20.9427 26.8994 21.529 27.6636C22.1153 28.4277 22.9374 28.977 23.8677 29.2263C24.798 29.4756 25.7846 29.4109 26.6744 29.0422C27.5643 28.6736 28.3076 28.0217 28.7891 27.1875C29.0377 26.7571 29.1054 26.2456 28.977 25.7654C28.8487 25.2851 28.5349 24.8755 28.1047 24.6266Z' fill='%236A8E3E'/%3E%3C/svg%3E%0A");
              width: 39px;
              height: 39px;
            }
          }
        }
      }
    }
  }
}